foodBox {
    padding: 10px 10px;
  }
  
  .foodBox img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .foodBox h1 {
    font-size: 22px;
    margin-top: 20px;
    font-weight: bold;
  }
  
  .foodBox p {
    font-size: 18px;
  }
  .buyBtn {
    color: #000;
    background-color: var(--primary-color);
    padding: 10px 10px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }